body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    margin: 0;
    padding: 0;
    font-size: 10px;
 }
 
 h1 {
    color: white;
    text-align: center;
    margin-top: 1vh;
 }
 
 img {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 3px solid black;
 }
 
 #hora {
    position: fixed;
    top: 100px;
    left: 10px;
    font-size: 24px;
    color: black;
 }
 
 #title {
    color: black;
 }
 
 #ipForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
 }
 
 #ipInput {
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
 }
 
 #ipLabel {
    color: black;
    font-weight: bold;
    font-size: 30px;
 }
 
 #ejecutarButton {
    font-size: 16px;
    color: black;
    font-weight: bold;
 }
 